# Project Configuration
COMPOSE_PROJECT_NAME=n8n            # Docker Compose project name
APP_NAME=n8n                        # Application name identifier

# Host Configuration
CONTAINER_PORT=5678                 # Internal container port for the application
HOST_URL=localhost                  # Domain name for the application
PROTOCOL=http                       # Protocol to access the application (http or https)
HOST_PORT=80                        # External port to access the application
TIMEZONE=Asia/Dhaka                 # Timezone for the application

# n8n Execution Settings
EXECUTIONS_PROCESS=own                # own | main
EXECUTIONS_CONCURRENCY=10             # max parallel workflows per worker
EXECUTIONS_DATA_SAVE_ON_SUCCESS=none  # none = save space, all = keep all
EXECUTIONS_DATA_SAVE_ON_ERROR=all     # keep all failed executions
EXECUTIONS_DATA_MAX_AGE=168           # hours (7 days)